/* This file is included in the project through the `/src/_document.tsx` file. */

body,
html,
#__next {
	height: 100%;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: 'Avenir', sans-serif;
}

/************************* FONT FAMILIES *************************************/

@font-face {
	font-family: Avenir;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/avenir/Avenir-Book.woff2') format('woff2');
}

@font-face {
	font-family: Avenir;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/avenir/Avenir-Roman.woff2') format('woff2');
}
/* @font-face {
	font-family: Avenir;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/avenir/Avenir-Black.woff2') format('woff2');
} */